/* You can customize the styles according to your preference */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.city-images {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    margin-top: 50px;
}

.city-images img {
    max-width: 600px; /* Set the maximum width of the image to 600px */
    height: auto;
}

.city-info {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center; /* Center the text horizontally */
}

.city-info img {
    max-width: 600px; /* Set the maximum width of the image to 600px */
    height: auto;
    margin-bottom: 20px;
    display: block; /* Ensure images are centered */
    margin-left: auto;
    margin-right: auto;
}

.audio-controls {
    margin-top: 20px;
}

button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
